@model List<string>

<h2>🎧 Upload Audio</h2>

<form method="post" enctype="multipart/form-data" class="mb-4">
    <input type="file" name="file" class="form-control mb-2" />
    <button class="btn btn-primary">Upload</button>
</form>

<hr />

<h4>📁 Danh sách audio</h4>

<div class="card p-3">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Tên file</th>
                <th>Nghe</th>
                <th>Link</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var file in Model)
            {
                var url = "/audio/" + file;

                <tr>
                    <td>@file</td>

                    <td>
                        <audio controls src="@url" style="height:30px;"></audio>
                    </td>

                    <td>
                        <input value="@url" class="form-control" readonly />
                    </td>

                    <td>
                        <a href="/Audio/Delete?fileName=@file"
                           class="btn btn-danger btn-sm">
                            Xóa
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>